body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("bg.png");
  background-size: cover;
  font-size: 7vh;
  font-weight: bolder;
  color: wheat;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30vw;
  height: 20vh;
  transition: 2ms;
}
.container div {
  background-color: rgba(123, 227, 222, 0.631);
  width: 10vw;
  margin: 2px;
  color: rgb(66, 100, 13);
  opacity: .8;
}
.container:hover {
  cursor: pointer;
}
.ampm{
  font-size: 0.7em;
}